[submodule "volk"]
	path = external/volk
	url = https://github.com/zeux/volk.git
[submodule "Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "external/DirectX-Headers"]
	path = external/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "external/xxHash"]
	path = external/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "external/utest"]
	path = external/utest
	url = https://github.com/sheredom/utest.h.git
[submodule "external/metal-cpp"]
	path = external/metal-cpp
	url = https://github.com/bkaradzic/metal-cpp.git
[submodule "external/meshoptimizer"]
	path = external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "external/cimgui"]
	path = external/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "external/fast_obj"]
	path = external/fast_obj
	url = https://github.com/thisistherk/fast_obj.git
[submodule "external/cgltf"]
	path = external/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
