.vs/
.cache/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.resolved
*.obj
*.mesh
*.ini
*.gltf
*.bin
*.tga
*.png
*.jpg
*.dds
*.mtl

xcuserdata/
packages/

# Build results
build*/
install*/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.build/
.swiftpm/
external/shader-compilers/
.DS_Store
artifacts/
*.db
