.vs/
.cache/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.resolved

xcuserdata/
packages/

# Build results
build/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.build/
.swiftpm/
external/shader-compilers/
cmake/
.DS_Store
artifacts/
