[submodule "volk"]
	path = external/volk
	url = https://github.com/zeux/volk.git
[submodule "Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "external/DirectX-Headers"]
	path = external/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "external/metal-cpp"]
	path = external/metal-cpp
	url = https://github.com/bkaradzic/metal-cpp.git
